#устанавливаем кодировку
AddDefaultCharset utf-8

#включаем механизм перенаправлений
RewriteEngine On

#создаем условия, если запрос не идет на конкретный файл
RewriteCond %{REQUEST_FILENAME} !-f
#или конкретную папку
RewriteCond %{REQUEST_FILENAME} !-d

#тогда мы должны использовать следущее правило
#RewriteRule (.*) index.php?$1 [L,QSA] #если будут какие либо параметры, то они не должны отбрасываться они должны дополняться к существующим get парметрам
RewriteRule ^(.*)$ index.php